body {
	background-color: #F53C13;
}

#LoginBox {
	text-align: center;
	background-color: #F0F0F0;
	border: black 5px groove;
	position: fixed;
	padding-bottom: 30px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
}

#LoginForm {
	display: block;
}

.LoginHeader .LoginResponse{
	font-family: "Book Antiqua", Palatino, serif;
	padding-left: 28px;
	padding-right: 28px;
}

.LoginHeader{
	font-size: 36px;
}

.LoginResponse{
	font-size: 32px;
}

.LoginItems{
	margin: 0 auto;
	display: block;
}

input.LoginBox {
	border: 2px solid black;
	padding: 5px;
}

input.LoginSubmit {
	background-color: #000000;
	color: #FFFFFF;
	padding: 15px 20px;
}

label.LoginLabel {
	text-align: center;
	padding-bottom: 5px;
	padding-top: 5px;
}
