#LoginForm {
	display: block;
	position: fixed;
	top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
}

.LoginHeader {
	text-align: center;
}

.LoginItems{
	margin: 0 auto;
	display: block;
}

input.LoginBox {
	padding: 5px;
}

input.LoginSubmit {
	color: red;
}

label.LoginLabel {
	text-align: center;
	padding-bottom: 5px;
	padding-top: 5px;
}

#Resp {
	text-align: center;
	color: blue;
	margin: 0 auto;
	padding: 20px top;
}
